.lists-video
  max-width: 960px
  margin: 0 auto;

.video-item
  display: inline-table;
  margin: 10px
  height: 350px
.video
  position: relative;
.play
  position: absolute;
  width: 50px
  border 2px solid white
  height: 50px
  background: rgb(0, 122, 181)
  border-radius: 50%
  text-align: center;
  padding-top: 12px
  color white
  font-weight: bold
  bottom: -18px
  right: 10px
