//- AntD trabaja con 24 rejillas
.presentacion-video
	h1 {pregunta.id} {pregunta.pregunta}
	video#foo( controls autoPlay)
	.nav
		Row
			Col.back-quest(span="{12}")
				a(href='#') Atras
			Col.next-quest(span="{12}")
				a(href='#') Siguiente