//- AntD trabaja con 24 rejillas
.presentacion-video
	h1 1 ¿Cuáles son las primeras diferencias que encuentras entre UX y UI?
	video(controls)
	.nav
		Row
			Col.back-quest(span="{12}")
				a(href='#') Atras
			Col.next-quest(span="{12}")
				a(href='#') Siguiente
	//- .nav 
	//- 	a(className='skip', href='/videoentrevista') Skip