//- AntD trabaja con 24 rejillas
Header(className='header')
	h1 Video Cuestionario ss
	h3 BCP - Sub Gerente de Ingeniería de Defensa de ciberseguridad

.content
	div(className='rectangle')
		h3 Cuestionario para Diseñador UX / UI
	form.contenedorPrincipal
		div(className='divuno')
			div(className='divdos2')
				h1 ¿Cuáles son las primeras diferencias que encuentras entre UX y UI?
				div(className='divdos2video')
					
		div(className='divtres')
			a Siguiente
