//- AntD trabaja con 24 rejillas
.presentacion-video
	h1 {pregunta.id} {pregunta.pregunta}
<<<<<<< HEAD
	video#foo( controls autoPlay)
=======
	video(controls)
	
>>>>>>> c0a7d07492cdb6ac9e3200820e57241c16b52a0a
	.nav
		Row
			Col.back-quest(span="{12}")
				a(onClick="{this.previous}") Atras
			Col.next-quest(span="{12}")
<<<<<<< HEAD
				a(href='#') Siguiente
=======
				a(onClick="{this.next}") Siguiente
	//- .nav 
	//- 	a(className='skip', href='/videoentrevista') Skip
>>>>>>> c0a7d07492cdb6ac9e3200820e57241c16b52a0a
