//- AntD trabaja con 24 rejillas
.presentacion-video
	h1 {pregunta.id} {pregunta.pregunta}
	//- video(controls)

	.nav
		Row
			Col.back-quest(span="{12}")
				a(onClick="{this.previous}") Atras
			Col.next-quest(span="{12}")
				a(onClick="{this.next}") Siguiente
	//- .nav 
	//- 	a(className='skip', href='/videoentrevista') Skip
