//- AntD trabaja con 24 rejillas
Header(className='header')
		h1 Video Cuestionario		
		h3 BCP - Sub Gerente de Ingeniería de Defensa de ciberseguridad

.content
	h3 Cuestionario para Diseñador UX / UI	
	//- .presentacion
	//- 	img(src='./Group18Mask.png')
	//- 
	//- 	.nav 
	//- 		a(className='skip', href='/videoentrevista') Skip
