//- AntD trabaja con 24 rejillas
Header(className='header')
		h1 Video Cuestionario		
		h3 BCP - Sub Gerente de Ingeniería de Defensa de ciberseguridad
		a(href='http://localhost:3000') Home

.content
	div(className='rectangle')
		h3 Cuestionario para Diseñador UX / UI	
