.siguientepage{
    height: 26px;	
    width: 100%;	
    color: #1890FF;	
    font-family: Roboto;	
    font-size: 18px;	
    margin-top: -35px;        
    font-size: 25px;
    padding-right: 170px;    
    font-weight: 500;	
    line-height: 26px;
    text-align: right;
    position: absolute;
}