// Form
.form-tutor
  width: 100%
  max-width: 520px
  margin: 0 auto;
  padding: 0px

input
  border: 1px solid black
  display: block;
  padding: 10px
  margin: 10px auto;
  width: 100%

input[type='submit']
  color white
  font-weight: bold
  background: rgb(0, 52, 64)
  border-width: 0
  &:hover
    background: rgb(1, 100, 122)
