// Form
.form-tutor
  width: 100%
  max-width: 1070px
  margin: -95px auto;
  padding: 0px




input[type='submit']
  color white
  font-weight: bold
  background: rgb(0, 52, 64)
  border-width: 0
  &:hover
    background: rgb(1, 100, 122)
